<div class="layer">
   
    <div class= "text">
        <p>Hi there!</p>
    <p>As school/co-op takes up a significant portion of my time, I made it a goal to develop and document my personal intrests. 
         Here you should expect to see projects that I have worked on; from web-apps to community initiatives, photos I have taken along the way, 
         and my thoughts on numerous topics; from societal/political matters, new and innovative technologies, to trends in pop-culture. 
         Im currently coding the rest of this site, but I hope you'll stop by to see the finished product.</p>
         <p> -Faduma M. Ahmed</p>
</div>
    <img class="self-portait" src="assets/images/SelfPortait.png">
</div>