.test{
    max-width: 1375px;
    min-height: 100%;
    margin:0 auto;
    background-color:#d0c1bb;opacity: 0.18;
    z-index: 10;

}
.within{
    max-width: 841.94px;
    min-height: 1000px;
    margin:0 auto;
    background-color: #d0c1bb;opacity: 0;
    z-index: 12;
}