.test{
    min-width: 1375px;
    min-height: 100%;
    margin:0 auto;
    background-color:#d0c1bb;opacity: 1;
    z-index: 10;

}
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
.title {
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
}
